.left-form{
-fx-background-color:linear-gradient(to top right,#64522c, #a8962b);
-fx-border-color:#000;
-fx-border-width:.4px 0px .4px .4px;
}
.right-form{
-fx-background-color:#FFF;
-fx-border-color:#000;
-fx-border-width:.4px .4px .4px 0px;

}
.textfield{
-fx-background-color: linear-gradient(to bottom,#efefef, #eee);
-fx-background-radius: 8px;
-fx-border-color: #000;
-fx-border-width: 0px 0px .8px 0px;
-fx-font-family:"Tahoma";
-fx-font-size: 13px;
-fx-border-radius:8px;
}
.textfield:focused{
-fx-background-color:#efefef;
-fx-border-width:0px 0px 1.8px 0px;
}
.login-btn{
 -fx-background-color:linear-gradient(to bottom,#2365A7,#213C57);
 -fx-background-radius:8px;
 -fx-text-fill:#fff;
 -fx-font-family:"Arial";
 -fx-font-size:14px;
}
.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom,#3D85CC,#295986);
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
-fx-background-color:#dd2f4f;
}
.hyperlink{
-fx-border-color:transparent;
-fx-font-family:"Tahoma";
-fx-font-size:14px;
-fx-text-fill:#369eda;
}
.hyperlink:hover{
-fx-text-fill:#000;

}